@*<img src="~/images/loading.gif" />*@

<div class="container">
    <div class="form-group">
        <label class="form-label">First Name</label>
        <input id="firstName" class="form-control" onkeyup="JavaScriptGreetCheckNameAsync()" />
        <img id="animator" src="@Url.Content("~/images/loading.gif")" style="width:32px;height:32px;display:none;" />
    </div>
    <div class="form-group">

        <button class="btn btn-primary" onclick="JavaScriptGreetCheckNameAsync()">JavaScriptGreetCheckNameAsync</button>
    </div>
    <div class="form-group">
        <div id="result"></div>
    </div>

</div>

@section Scripts{
    <script>

        var BaseAddress = "https://localhost:7191";


        function JavaScriptGreetCheckNameAsync() {
            //alert("postGreetAsync");
            var xmlHttp = new XMLHttpRequest();
            if (xmlHttp != null) {
                //var p = encodeURI("Name=陳小明");
                xmlHttp.open("Post", `${BaseAddress}/Ajax/CheckName`, true);
                document.getElementById("animator").style.display = "inline";
                //xmlHttp.timeout=5000;
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4) {
                        if (xmlHttp.status == 200) {
                            var msssage = decodeURI(xmlHttp.responseText);
                            if (msssage=="true"){
                            document.getElementById("result").textContent = "有此人...";

                            }
                            else
                            {
                                document.getElementById("result").textContent = "無此人...";

                            }
                            document.getElementById("animator").style.display = "none";
                        }
                    }
                }
                xmlHttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                xmlHttp.send(`FirstName=${document.getElementById("firstName").value}`);  //發送呼叫

            }
            else {
                alert("瀏覽器不支援");
            }
        }
    </script>
}
