<div class="container">
    <div class="form-group">
        <label class="form-label">First Name</label>
        <input id="firstName" class="form-control" onkeyup="jQueryGreetCheckNameAsync()" />
        <img id="animator" src="@Url.Content("~/images/loading.gif")" style="width:32px;height:32px;display:none;" />
    </div>
    <div class="form-group">

        <button class="btn btn-primary" onclick="jQueryGreetCheckNameAsync()">jQueryGreetCheckNameAsync</button>
    </div>
    <div class="form-group">
        <div id="result"></div>
    </div>

</div>

@section Scripts{
    <script>

        var BaseAddress = "https://localhost:7191";
        function jQueryGreetCheckNameAsync() {
            //alert("jQueryGreetCheckNameAsync");
            $("#animator").show();
            $.ajax({
                type: "Post",
                data: {
                    FirstName: $("#firstName").val()
                },
                url: `${BaseAddress}/Ajax/CheckName`
            }).done(function (data) {
                //alert(data);
                //$("#result").text(data);
                //if (data == "true") {
                //    $("#result").text("有此人");
                //}
                //else{
                //    $("#result").text("無此人");
                //}

                data == "true" ? $("#result").text("有此人") : $("#result").text("無此人");

                $("#animator").hide();
            }).fail(function (err) {
                alert(err.statusText);
                $("#animator").hide();
            });
            }
    </script>
}
